.cont .devise-background-image{
  margin: 0;
}

.cont .devise-password-stuff{
  margin: 10% 30%;
}
.cont .devise-password-stuff .form-inputs{
  margin-top: 20%;
  margin-bottom: 10%;
}
.cont .devise-password-stuff .form-actions{
  margin: 20%;
}
.cont .devise-password-stuff .form-actions .btn{
  background-color: #c97811 !important;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 550;
}
